.dark .css-175e1i1-MuiChartsAxis-root-MuiChartsYAxis-root .MuiChartsAxis-line{
    stroke: #FFF;
}
.dark .MuiChartsAxis-tickLabel{
    fill: #FFFF;
}
.dark .css-1evyvmv-MuiChartsSurface-root{
    stroke: #FFF;
    fill: #FFFF;
}
.dark .MuiChartsAxis-line{
    stroke: #FFF;
}